.about-us{
    margin-top: 2em;
}
.about-us .container {
    /* max-width: 1170px; */
    margin: 50px auto;
    padding: 0 15px;
    animation-name: about-animate1;
   animation-duration:2s;
   
}
@keyframes about-animate1{
    from { 
        max-width: 1470px;
    }
    to {  max-width: 1170px;
    }
}
@keyframes about-animate{
    from { 
        margin-right: 0%;
    }
    to { margin-right: -1%;
    }
}
@keyframes about-animate2{
    from { 
        margin-left: 0%;
    }
    to { margin-left: 0%;
    }
}
.about-us-inside {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: space-between;
}
.about-us-img img:hover{
    box-shadow: 0px 0px 25px #222222;
}
.about-us-img img{
    width: 540px;
    height: 360px;
    border-radius: 20px;
    animation-name: about-animate2;
   animation-duration:2s;
}
.about-us-content .title{
    margin-top: 0%;
}
.about-us-content,
    .about-us-img {
        flex: 1 1;
    }

    .about-us-img {
      
        margin: 15px;
    }
    .about-us-content{
        animation-name: about-animate;
   animation-duration:2s;
        margin: 15px;
        font-size: 12px;
    }
     .title {
        font-size: 20px;
        /* font-weight: 500; */
        margin-bottom: 10px
    }
@media (max-width:1020px) {
    .about-us-img img{
        width: 100%;
        height: auto;
        border-radius: 20px;
    }
}
@media (max-width:768px) {
    .about-us-content,
        .about-us-img {
            width: 100%;
            height: auto;
            flex: auto
        }
}
.decs p {
    font-size: 20px;
}