.main-footer {
    padding: 70px 0;
    background-color: var(--primary-color);
}
.container {
    
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 15px
}
.footer-inside {
    
    display: flex;
    justify-content: space-between;
    gap: 15px;
    flex-wrap: wrap
}
.footer-items {
    width: 30%
}
.footer-items .title {
    color: var(--white);
    font-size: 28px
}
.footer-items .decs {
    color: var(--white);
    margin: 1rem 0;
    font-size: 20px;
}
.footer-logo img {
    width: auto;
    background-color: var(--white);
    max-width: 300px;
    max-height: 90px
}
.contact-icon,
    .footer-social ul li a {
        width: 43px;
        transition: .5s;
        background-color: var(--second-color);
        border-radius: 50%;
        height: 43px
    }

 .footer-social ul {
        justify-content: start;
        display: flex;
        gap: 10px;
        margin-top: 15px;
        float: left;
        margin-left: 0%;
    }
    
    
.footer-social ul li:hover{
    background-color: #000;
}
.footer-social ul li a {
    display: block;
    position: relative;
    color: var(--white);
}

.footer-social ul li a svg {
    fill: var(--white);
    position: absolute;
    left: 6px;
    top: 10px;
}
.footer-links .navbar-nav .nav-item .nav-link:hover:after,
    .text-link:hover:after {
        width: 100%;
    }
.footer-links ul{
        float: left;
        margin-left: 0%;
      
}
.footer-links .navbar-nav .nav-item {
    position: relative;
    left: 0;
    padding: 12px 0
}

.footer-links .navbar-nav .nav-item .nav-link {
    color: var(--white);
    font-size: 20px;
}

.footer-links .navbar-nav .nav-item .nav-link:after {
    width: 0;
    height: 3px;
    border-radius: 10px;
    display: block;
    top: 70%;
    position: absolute;
    background-color: var(--primary-color);
    transition: .5s;
    left: 0;
    content: ''
}
.footer-links .navbar-nav .nav-item .nav-link:hover {
    /* padding-left: 25px; */
    color: var(--primary-color)
}

.footer-links .navbar-nav{
    margin-top: 1em;
 float: left;
 margin-left: 0%;
}
.footer-links{
    display: flex;
    justify-content: start;
}
.contact-info .contact-items {
    display: flex;
    margin: 15px 0;
    width: 100%;
    gap: 0 15px
}
.contact-info .contact-items a {
    display: block;
    margin-top: 3px;
    color: var(--white);
    font-weight: 500;
    font-size: 18px;
    letter-spacing: 1px
}

.contact-info .contact-items span {
    font-weight: 500;
    color:var(--white);
    line-height: 1.7;
    font-family: var(--primary-font)
}
.contact-icon {
    flex-shrink: 0;
    display: block;
    position: relative;
}

.contact-icon svg {
    position: absolute;
    top: 11px;
    left: 8px;
    width: 27px;
    fill: var(--white)
}
contact-info .contact-items span {
    font-size: 20px;
    color: #000;
    line-height: 2;
    font-family: var(--primary-font);
}
@media only screen and (max-width:575px) {

    .main-footer {
        padding: 20px 0
    }
}
@media only screen and (max-width:767px) {
    .footer-items {
        width: 100%
    }
}
@media only screen and (max-width:991px) {

   
    .footer-items:first-child {
        width: 100%
    }

}