
.logo-slider-inner {
    z-index: -1;
    background-color: #333;
    display: flex;
    /* overflow: auto; */
    overflow-x: scroll;
    white-space: nowrap;
    padding: 10px;
    background-color: white;
   
  }
  
.logo-slider-inner .logo-slider-items {
    padding: 10px;
    z-index: 0;
  }
  .logo-slider .title{
    font-size: 22px;
    background-color: white;
  }
 .container-fluid{
    position: relative;
 }
