
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  

  .toggle {
    font-size: 30px;
    color: var(--white);
    float:right;
    line-height: 45px;
    margin-right: 5%;
    /* margin-left: 62%; */
    /* margin-right: 0%; */
    cursor: pointer;
    display: none;
  }

  nav {
    background: var(--primary-color);
    /* height: 47px; */
    height: 57px;
    width: 100%;
    font-family: sans-serif;
    /* position: sticky; */
    position: fixed;
    z-index: 2;
    /* display: flex;
    justify-content: space-between; */
  }
  .logo{
    width: 115px;
    height: 31px;
    margin-top: .8em;
    margin-left: .8em;
    padding: 2px;
    background-color: var(--white);
  }
  ul {
    float: left;
    margin-left: 14%;
    margin-top: .45em;
    /* display: flex; */
  }
  
  .socialtop {
    float: right;
    margin-right: 2%;
    margin-top: 0.5em;
    /* display: block; */
  }
  
  ul li {
    margin: 0;
    padding: 0;
    position: relative;
    display: inline-block;
    font-size: 16px;
  }
  
  ul a {
    font-weight: 350;
    padding: 15px;
    line-height: 45px;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-family: var(--primary-font);
  }
  
  
  ul li:hover {
    background: var(--nav-hover-color);
    color: #fff;
    
  }
  
  ul li a:hover {
    color: #fff;
  }
  
  .top-social a {
    color: #fff;
    padding: 15px 13px 13px 13px;
    
    /* border: 1px solid pink; */
  }
  
  .top-social {
    padding: 10px 15px;
  }
  
  .top-social a:hover {
    color: var(--nav-hover-color);
  }
  svg {
    cursor: pointer;
    /* background-color: white; */
    /* transform: rotate(90deg); */
    fill: var(--white);
    width: 30px;
    height: 22px;
    padding: 0.1px 3.5px;
} 
.dropdown-toggle img{
  width: 20px;
  height: 11px;
    color: var(--white);
    background: var(--white);
    padding: 1px;
    margin-left: -10px;
    margin-right: 5px;
    border-radius: 20%;
}
.dropdown-menu{
     
  z-index: 2;
  margin-top: -15px;
  position: fixed;
  top: -400px;
  right: 0;
  left: 34em;
  width: 200px;
  background: var(--primary-color);
  display: inline-block;
  transition: top .2s;
  
}
.dropdown-menu.show{
  top: 60px;
}

@media screen and (max-width: 1401px) {
  .dropdown-menu.show{
    top: 180px;
  }
  .dropdown-menu {
    z-index: 1;
    margin-top: 10px;
    position: fixed;
    top: -400px;
    right: 0;
    left: 0;
    width: 200px;
    background: var(--primary-color);
    display: inline-block;
    transition: top .01s;
    margin-left: 0;
  }
  .dropdown-menu a{
   position: static;
    top: 0;
    width: 100%;
    float: right;
    text-align: center;
  }
  .dropdown-menu{
      width: 100%;
    }
    .toggle {
      display: block;
      margin-top: 0.25em;
    }
    .socialtop{
        
      z-index: 0;
      margin-top: -15px;
      position: fixed;
      top: -400px;
      right: 0;
      left: 0;
      width: 200px;
      background: var(--primary-color);
      display: inline-block;
      transition: top .4s;
      margin-left: 0;
      
    }
    .activity {
      z-index: 1;
      margin-top: -15px;
      position: fixed;
      top: -400px;
      right: 0;
      left: 0;
      width: 200px;
      background: var(--primary-color);
      display: inline-block;
      transition: top .4s;
      margin-left: 0;
    }
    
    .activity.show{
      top: 60px;
    }
    .socialtop.show{
       top: 320px;
    }
    
    .activity li, .top-social{
      top: 0;
      width: 100%;
      float: right;
      text-align: center;
    }
    .activity, .socialtop{
        width: 100%;
      }

   
  } 
                                                   

  @media (min-width: 1401px) and (max-width: 1567px) {

    .toggle {
        display: block;
        margin-top: 0.25em;
      }
      .dropdown-menu{
        position: fixed;
        top: -400px;
        right: 0;
        left: 31em;
       
        
      }
    .socialtop{
        /* display: none; */
        /* float: none; */
        
      z-index: 1;
      margin-top: -15px;
      position: fixed;
      top: -400px;
      right: 0;
      left: 0;
      width: 200px;
      background: var(--primary-color);
      display: inline-block;
      transition: top .4s;
      margin-left: 0;
    }
    .socialtop.show{
        top: 60px;
        /* margin-right: 0%; */
        
     }
     .top-social a{
        top: 0;
        width: 100%;
        float: right;
        text-align: center;
      }
    .socialtop{
          width: 8%;
          margin-left: 90%;
          margin-right: 2%;
        }
 }
  
  