.newsletter button.subcribe:hover,
.updates-content:after {
    background-color: #F1D1A7
}


.newsletter .form-row,
.top-header .social-media ul {
    display: flex;
    gap: 10px
}

#NewsLetterFormResponse,
.counter .count-up .counter-text,
.newsletter button.subcribe {
    font-family: var(--primary-font);
    letter-spacing: 1px
}

#NewsLetterFormResponse {
    text-align: center;
    margin-top: 15px;
    color: var(--white);
    font-size: 20px
}

#NewsLetterFormResponse .alert-success {
    color: #267e3e
}

#NewsLetterFormResponse .alert-danger {
    color: #e60303
}

.newsletter {
    background-image: url("images/wall2.webp");
    background-size: cover;
    background-color: var(--primary-color);
    padding: 50px 0;
    border-bottom-left-radius: 65px;
    border-top-right-radius: 65px;
    position: relative;
    /* opacity: .2; */
}

/* .container2{
    z-index: 1;
    border-radius: 14px;
    padding: 10px;
    background-color:rgba(34, 34, 34, 0.2);
} */

.newsletter-inside {
    display: flex;
    flex-wrap: wrap;
    align-items: center
}

.newsletter-inside h3 {
    display: flex;
    justify-content: center;
    position: relative;

}

.newsletter-inside .title {
    color: var(--white);
    width: 40%;
    /* margin-bottom: 50px; */
    font-size: 30px;
    letter-spacing: 1px;
}

.newsletter-inside form {
    width: 60%
}

.newsletter .form-row .form-control {
    font-size: 19px;
    border: 1px solid var(--white);
    font-family: var(--second-font);
    background-color: transparent;
    padding: 15px;
    outline: 0;
    color: var(--white);
    width: 61%;
    border-radius: 0
}

.newsletter .form-row .form-control::placeholder {
    color: #999
}

.newsletter button.subcribe {
    font-size: 18px;
    cursor: pointer;
    transition: .5s;
    background-color: var(--white);
    color: var(--primary-color);
    margin-left: 8px;
    border: none;
    outline: 0;
    width: 200px;
    height: 56px
}

.newsletter button.subcribe:hover {
    background-color: red;
    color: var(--white)
}

#NewsLetterFormResponse {
    text-align: center;
    margin-top: 15px;
    color: var(--white);
    font-size: 20px
}

#NewsLetterFormResponse .alert-success {
    color: #267e3e
}

#NewsLetterFormResponse .alert-danger {
    color: #e60303
}

.newsletter-inside {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.newsletter .container {
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 20px;
    align-items: center;
    display: flex;
    justify-content: center;
}

@media only screen and (max-width:1024px) {

    .newsletter .title,
    .newsletter form {
        width: 100%;
        text-align: center
    }

    .newsletter .form-row {
        justify-content: center;
        margin-top: 20px
    }

    .newsletter .container {
        width: 90%;
    }
}

#NewsLetterFormResponse,
.counter .count-up .counter-text,
.newsletter button.subcribe {
    font-family: var(--primary-font);
    letter-spacing: 1px
}

@media only screen and (max-width:768px) {

    .newsletter .form-row .form-control,
    .slider-content .decs,
    .slider-content .title {
        width: 90%
    }

    .newsletter .form-row {
        flex-wrap: wrap
    }
}

@media only screen and (max-width:600px) {

    .newsletter .form-row .form-control,
    .slider-content .decs,
    .slider-content .title {
        width: 90%
    }

    .newsletter .form-row {
        flex-wrap: wrap
    }
}

.container1 {
    /* position: absolute; */
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
}

.content1 {
    width: 360px;
    height: 40px;
    box-shadow: 2px 4px 10px rgba(0, 0, 0, .2);
    border-radius: 60px;
    overflow: hidden;
}

.subscription {
    position: relative;
    width: 100%;
    height: 100%;
}

.subscription .add-email {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    padding: 0 20px;
}

.subscription .submit-email:hover {
    background-color: var(--dark);
    color: white;
}

.subscription .submit-email {
    position: absolute;
    top: 0;
    right: 0;
    height: calc(100% - 2px);
    width: 100px;
    border: none;
    border-radius: 60px;
    outline: none;
    margin: 1px;
    padding: 0 20px;
    cursor: pointer;
    background: red;
    color: #FFFFFF;
    transition: width .35s ease-in-out,
        background .35s ease-in-out;
}

.subscription.done .submit-email {
    width: calc(100% - 2px);
    background: #C0E02E;
}

.subscription .submit-email .before-submit,
.subscription .submit-email .after-submit {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 38px;
    transition: visibility .35s ease-in-out,
        opacity .35s ease-in-out;
}

.subscription.done .submit-email .before-submit,
.subscription:not(.done) .submit-email .after-submit {
    visibility: hidden;
    opacity: 0;
}

.subscription .submit-email .after-submit {
    transition-delay: .35s;
}

.subscription:not(.done) .submit-email .before-submit,
.subscription.done .submit-email .after-submit {
    visibility: visible;
    opacity: 1;
}

@media only screen and (max-width:323px) {}

@media only screen and (max-width:369px) {
    .content1 {
        width: 90%;
        text-align: left;
        /* display: none; */
    }

    .newsletter {
        width: 100%;
        /* display: none; */
    }
}