
.reveal{
    position: relative;
    transform: translateY(60px);
    opacity: 0;
    transition: 1s all ease;
  }
  
  .reveal.active{
    transform: translateY(0);
    opacity: 1;
  }
  
/* .reveal1{
    position: relative;
    transform: translatex(100px);
    opacity: 0;
    transition: 1s all ease;
    background-color: var(--bgcolor);
  }
  
  .reveal1.active{
    transform: translatex(0);
    opacity: 1;
  } */