.our-serivces-main {
    display: flex;
    gap: 20px;
    justify-content: center;
    /* justify-content: space-around; */
    flex-wrap: wrap;
    margin: 50px 0;

}
.our-serivces .title {
    text-align: center
}
.spad .container .title{
    margin-top: 1em;
    font-size: 32px;
}
.serivces-images {
    margin-bottom: 20px;
    height: 70%
}

.serivces-images img {
    object-fit: contain;
    max-height: 250px
}
.serivces-content .title {
    font-size: 22px !important;
    text-align: left
}
.services-btn,
.top-header-inside {
    display: flex;
    justify-content: space-between
}
.text-link {
    transition: .5s;
    color: #222222;
    font-weight: 500;
    font-size: 17px;
    padding: 5px 0
}

.text-link:hover {
    color: #222222;
    padding-left: 25px
}

.text-link:after {
    width: 0;
    height: 3px;
    border-radius: 10px;
    display: block;
    top: 50%
}

.footer-links .navbar-nav .nav-item .nav-link:hover:after,
.text-link:hover:after {
    width: 20px
}
.text-link{
    width: 100%;
    position: relative;
    display: block;
}
.btn:after,
.text-link:after {
    position: absolute;
    background-color: #222222;
    left: 0;
    content: '';
    transition: .5s
}
button.share-btn {
    cursor: pointer;
    background: 0 0;
    border: none;
    outline: 0;
    padding: 0 10px
}

button.share-btn svg {
    fill: #222222;
    width: 25px
}
.title,
button.share-btn {
    color: #222222;
}
.our-serivces-items{
    border: 1px solid #222222;
    box-shadow: 10px 11px 10px #222222;
    padding: 15px;
    /* width: 27%; */
}
@media only screen and (max-width:742px) {
.our-serivces-items,
.updates .updates-main .updates-items {
    width: 90%
}
.serivces-images,
.updates-images {
    height: auto
}
}
@media only screen and (max-width:600px) {

    .our-serivces-items,
    .updates .updates-main .updates-items {
        width: 90%
    }
    .serivces-images,
    .updates-images {
        height: auto
    }
}