.copy-right img,
.hide {
    display: none
}
.updates{
    margin: 100px 0 50px 0;
}
.updates-content:hover:after {
    width: 100%
}

.updates-content:after {
    background-color: var(--second-color);
}

.updates .updates-main {
    display: flex;
    gap: 15px;
    justify-content: center;
    flex-wrap: wrap;
    margin: 25px 0
}
.updates .container{
        max-width: 1170px;
        margin: 0 auto;
        padding: 0 15px;
    
}
.updates .updates-main .updates-items {
    z-index: -1;
    width: 32%;
    background-color: var(--white);
    height: 100%
}

.updates-content {
    z-index: 0;
    position: relative;
    padding: 15px;
    background-color: #938c8c
}

.updates-date-share {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px
}

.updates-content .date {
    color: var(--primary-color);
    font-size: 15px;
    font-weight: 600;
    font-family: var(--second-font)
}

.updates-content .title {
    font-size: 22px;
    font-weight: 500;
    color: var(--second-color)
}

.updates-content:after {
    content: '';
    width: 0%;
    height: 3px;
    display: block;
    bottom: 0;
    position: absolute;
    left: 0;
    transition: .5s
}

.btn {
    width: fit-content;
    cursor: pointer;
    border: 1px solid var(--second-color);
    background-color: var(--second-color);
    color: var(--primary-color);
    z-index: 1;
    border-radius: 0;
    font-size: 18px;
    letter-spacing: 1px;
    margin-top: 15px;
    padding: .5em 3.5em;
    text-decoration: none;
}
a.btn{
    border-radius: 12px;
}
.btn:hover:after,
.text-link,
.updates-content:hover:after {
    width: 100%
}


.btn:hover {
    color: var(--white);
    /* background-color: #938C8C; */
    transition-duration: .2s;
}
.btn:after {
    border-radius: 12px;
    position: absolute;
    width: 0%;
    height: 100%;
    z-index: -1;
    top: 0
}

.updates .btn {
    /* margin: 40px auto 0 */
}

.updates-images {
    height: 70%
}

.updates-images img {
    aspect-ratio: 1.1;
    max-height: 373px;
    object-fit: cover
}

button.share-btn {
    cursor: pointer;
    background: 0 0;
    border: none;
    outline: 0;
    padding: 0 10px
}

button.share-btn svg {
    fill: var(--primary-color);
    width: 25px
}

.title,
button.share-btn {
    color: var(--primary-color)
}
#update-btns{
    display: flex;
    justify-content: center;
}
.btn, .slick-list, .slick-slider, .slick-track, .text-link {
    position: relative;
}
@media only screen and (max-width:991px) {

    .our-serivces-items,
    .updates .updates-main .updates-items {
        width: 44%
    }
}

@media only screen and (max-width:600px) {

    .our-serivces-items,
    .updates .updates-main .updates-items {
        width: 90%
    }

    .serivces-images,
    .updates-images {
        height: auto
    }
}